/* Reset and initialize CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    color: #292929;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e5e4e2;
}

a {
    text-decoration: none;  
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 2px solid #9400D3;
    outline: 0;
} 

ul {
    list-style-type: none;
}

h1 {
    display: block;
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

    h2 {
        display: block;
        font-size: 1.5em;
        margin-top: 0.83em;
        margin-bottom: 0.83em;
    }

    h3 {
        display: block;
        font-size: 1.17em;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    h4 {
        display: block;
        font-size: 1em;
    }

    h5 {
        display: block;
        font-size: 1em;
        font-weight: normal;
    }

/* Pre-initialized sizes and colors */
#perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
} 

#profile {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

#mensagem {
    max-width: 75%;
}

#logo {
    height: 50px;
    width: 50px;
}

.purple-font {
    color: #9400D3;
}

.white-font {
    color: white;
}

.time-font {
    font-size: 0.8em;
    float: right;
}

/* Strucuture of footer and header */
.navbar {
    background-color: #f8f8f8;
    overflow: hidden;
}

    .navbar .logo {
        float: left;
        line-height: 50px;
    }

    .navbar a {
        float: right;
        display: block;
    }

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-footer {
    position: fixed;
    bottom: 0;
}

/* Predefined spaces and positions */
.small-horizontal-margin {
    margin-right: 1.7em;
    margin-left: 1.7em;
}

    .margin-right {
        margin-right: 1%;
    }

    .small-horizontal-padding {
        padding-left: 1.7em;
        padding-right: 1.7em;
    }

    .small-margin {
        margin: 1.7em;
    }

    .small-padding {
        padding: 0.4em;
    }

    .middle-margin {
        margin: 1.7em;
    }

    .middle-padding {
        padding: 1.7em;
    }

    .small-vertical-margin {
        margin-top: 0.3em;
        margin-bottom: 0.3em;
    }

.container {
    overflow: hidden;
    display: block;
}

    .container-size {
        width: 100%;
        height: 150px;
    }

    .vertical-align {
        position: relative;
        top: 50%;
        transform: translateY(-50%); 
    }

    .horizontal-align {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .left-align {
        display: block;
        margin-right: auto;
    }

    .right-align {
        display: block;
        margin-left: auto;
        text-align: right;
    }

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .align-top {
        display: flex;
        align-items: flex-start;
        justify-content: center;    
    }

.no-margin {
    margin: 0;
}

/* Buttons */
.primary-button {
    background-color: #9400D3;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    transition-duration: 0.4s;
}

    .primary-button:hover {
        background-color: #530082;
    }

    .primary-icon-button {
        background-color: #9400D3;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        cursor: pointer;
        transition-duration: 0.4s;
    }

    .primary-icon-button:hover {
        background-color: #530082;
    }

.secondary-button {
    background-color: #f8f8f8;
    color: #808080;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    cursor: pointer;
    transition-duration: 0.4s;
}   

    .secondary-button:hover {
        color: black;
    }

/* Aesthetic attributes */
.shadow {
    box-shadow: 2px 2px 4px #808080;
}

.text p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.card { 
    background-color: #f8f8f8;
    border-radius: 5px;
    border: 2px solid #d3d3d3;
    overflow: hidden;
}

    .purple-card { 
        background-color: #530082;
        border-radius: 5px;
        overflow: hidden;
        color: white;
    }

    .purple-card input {
        background-color: #530082;
        color: white;
        border: none;
    }

input {
    width: 100%;
    margin: 8px 0;
    border: 2px solid #d3d3d3;
    background-color: #f8f8f8;
    padding: 16px 24px;
    font-size: 16px;    
    border-radius: 5px;
}

    input[type="checkbox"] {
        width: auto;
    }

    input[type="submit"] {
        width: auto;
    }

.bottom-margin {
    border-bottom: 1px solid #e3e4e2;
}

.scroll {
    overflow-y: scroll;
}

/* Caixa de mensagem */
.message-box input {
    background-color: #530082;
    border: none;
    color: white;
}

    .message-box img {
        width: 15px;
        height: 15px;
    }

.contatos-size {
    height: 350px;
}

.message-size {
    height: 350px;
}

.sobre-size {
    height: 400px;
}